[Unit]
Description=TightVNC remote desktop server
After=sshd.service
 
[Service]
Type=dbus

# Default Config
#ExecStart=/usr/bin/tightvncserver :1

# Custom
ExecStart=/usr/bin/tightvncserver :1 -localhost -geometry 1920x1080 -depth 24

# Mac screen
#ExecStart=/usr/bin/tightvncserver :1 -localhost -geometry 1440x900 -depth 24
User=pix
Type=forking
 
[Install]
WantedBy=multi-user.target
